<div ng-controller="nearbyCtrl"><br>
    <h5 class="text-center">SIGN UP</h5>
    <p class="text-center" style="font-size: 14px;">collaboration globally</p>
    <div class="mx-auto" style="width:300px">
        <h6>gender</h6>
        <div class="row text-center">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4">
                <a ng-click="toggle_gender('male')"><img ng-src="assets/icons/{{gender.male}}" class="img-fluid img-responsive" style="height: 80px;"></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4">
                <a ng-click="toggle_gender('female')"><img ng-src="assets/icons/{{gender.female}}" class="img-fluid img-responsive" style="height: 80px;"></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4">
                <a ng-click="toggle_gender('others')"><img ng-src="assets/icons/{{gender.other}}" class="img-fluid img-responsive" style="height: 80px;"></a>
            </div>
        </div>
    </div><br>
    <div class="mx-auto" style="width:320px">
        <div class="form-group" ng-if="!nextStep">
            <h6>loation</h6>
            <input type="text" class="form-control" ng-model="search_city" ng-click = "city_autocomplete(search_city)" placeholder="you can change this any time">
        </div>
        <!-- <ul class="list-group">
            <li class="list-group-item" ng-repeat="city_name in search_arr | limitTo : 5">{{city_name}}</li>
        </ul> -->
    </div>
</div>