<div ng-controller="profileCtrl"><br>
    <h5 class="text-center">I'M A<span ng-if="setProfile=='default'">...</span><span ng-if="setProfile=='artist'">N ARTIST</span><span ng-if="setProfile=='member'"> MEMBER</span><span ng-if="setProfile=='provider'"> PROVIDER</span></h5>
    <p class="text-center" style="font-size: 14px;"  ng-if="setProfile=='artist'">choose upto three, control diffrent profile for each</p>
    <p class="text-center" style="font-size: 14px;"  ng-if="setProfile=='member'">two choices here</p>
    <p class="text-center" style="font-size: 14px;"  ng-if="setProfile=='provider'">choose upto three, control diffrent profile for each</p><br>
    <div class="mx-auto" style="max-width:500px">
        <div ng-if="setProfile=='default'">
            <div class="row text-center">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4">
                    <a ng-click="toggle_profile('member')"><img ng-src="assets/icons/{{profile.member}}" class="img-fluid" height= "155px"></a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4">
                    <a ng-click="toggle_profile('artist')"><img ng-src="assets/icons/{{profile.artist}}" class="img-fluid" height= "155px"></a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4">
                    <a ng-click="toggle_profile('provider')"><img ng-src="assets/icons/{{profile.provider}}" class="img-fluid" height= "155px"></a>
                </div>
            </div><br>
            <small ng-if="profile_selected == 'default'">
                <p>every member may buy tell or create and to get started please select a category that works for you</p>
                <ul>
                    <li>members may book or arrange any collaboration</li>
                    <li>artist categories vary according to expertise</li>
                    <li>providers are the bussinesses, locations or services thatt support the TOF community</li>
                </ul>
            </small>
            <small ng-if="profile_selected == 'artist'">
                <p>for thise interested in commissioning art/work,supporting collaborations and or selling commercially</p>
                <ul><li>may offer any product or services</li>
                    <li>as a provider you have full accesss to all</li>
                    <li>ecosystem features and the global directions</li>
                    <li>providers may participate in any type of collaboration</li>
                </ul>
            </small>
            <small ng-if="profile_selected == 'member'">
                <p>you're plucking awesome!soon you can access the global network,as a Biosphere member</p>
                <ul>
                    <li>arrange any collaboration</li>
                    <li>create real-world smart contract &reg;, Transfer,copyrights and much more</li>
                    <li>communication are private, engagements anonymously blockchain secure and you have full tailored profile settings</li>
                    <li>oh, it's also free to use, we just provide registration and guarantee services as you wish</li>
                </ul>
            </small>
            <small ng-if="profile_selected == 'provider'">
                <p>benafit to the community!soon you can access the global network,as a provider</p>
                <ul>
                    <li>offer and arrange sales with logistics effortlessly in your control</li>
                    <li>define your terms, get paid directly and we take no commissions</li>
                    <li>communication are private,engagements anonymously blockchain secured and you have full taiored profile settings8oh,it's also free to use, we just provide registration and guarantee services as you wish</li>
                </ul>
            </small>
        </div>
        <div ng-if="setProfile!=='default'">
            <div class="row text-center">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4">
                    <a ng-click="select_profile('business')"><img ng-src="assets/icons/{{profile_select.business}}" class="img-fluid img-responsive"  height= "155px"></a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4">
                    <a ng-click="select_profile('venue')"><img ng-src="assets/icons/{{profile_select.venue}}" class="img-fluid img-responsive"  height= "155px"></a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4">
                    <a ng-click="select_profile('supplier')"><img ng-src="assets/icons/{{profile_select.supplier}}" class="img-fluid img-responsive"  height= "155px"></a>
                </div>
            </div><br>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 text-left">
                <a class="btn btn-info btn-back" style="width:140px;" ng-click="setProfile='default'">back</a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 text-right">
                <a class="btn btn-info btn-next" style="width:140px;" ng-click="my_profile(profile_selected)">next</a>
            </div>
        </div>
    </div>
</div>