<div ng-init="nextStep = false;">
    <div class="logo text-center" style="padding-top:3%;" ng-if="!nextStep">
        <img src="assets/icons/logo.png" class="img-fluid" style="height: 110px;">
    </div><br>
    <h5 class="text-center">SIGN UP</h5>
    <p ng-if="nextStep" class="text-center" style="font-size: 14px;">how the world see you</p>
    <div class="text-center" ng-if="nextStep">
        <img src="assets/icons/upload-pic.png" class="img-fluid" style="height: 60px;">
    </div><br>
    <form role="form" class="mx-auto" style="width:320px">
        <div class="form-group" ng-if="!nextStep">
            <h6>email</h6>
            <input type="text" class="form-control placeholder="123@protonmail.com">
        </div><br>
        <div class="form-group" ng-if="!nextStep">
            <h6>password</h6>
            <input type="password" class="form-control" placeholder="at least 6 character or longer">
        </div><br>
        <div class="text-center"  ng-class="nextStep==true ? 'd-none':''">
            <button type="button" class="btn btn-info btn-next" style="width:150px;" ng-click="nextStep = true;">next</button>
        </div>
        <div class="form-group" ng-if="nextStep">
            <h6>display name</h6>
            <input type="text" class="form-control" placeholder="feel free to use a nick name">
        </div><br>
        <div class="form-group" ng-if="nextStep">
            <h6>username</h6>
            <input type="text" class="form-control" placeholder="pick one you like">
        </div><br>
        <div class="text-center"  ng-class="nextStep==false ? 'd-none':''">
                <button type="button" class="btn btn-info btn-back" style="width:140px;" ng-click="nextStep = false;">back</button>
                <button type="button" class="btn btn-info btn-next" style="width:140px;">next</button>
            </div>
        </div>
    </form>
</div>